/* Components CSS */

/* Commands Component */
.commands {
  border-radius: var(--border-radius);
  column-gap: 0;
  columns: 1;
  list-style: none;
  margin: 0 auto;
  max-width: 10rem;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

@media (min-width: 500px) {
  .commands {
    columns: 2;
    max-width: 25rem;
  }
}

@media (min-width: 900px) {
  .commands {
    columns: 4;
    max-width: 45rem;
  }
}

.command {
  display: flex;
  gap: var(--space);
  outline: 0;
  padding: var(--space);
  position: relative;
  text-decoration: none;
}

.command:hover {
  background: var(--accent-color);
}

.command::after {
  background: var(--color-text-subtle);
  content: " ";
  inset: 1px;
  opacity: 0.05;
  position: absolute;
  transition: opacity var(--transition-speed);
}

.command:where(:focus, :hover)::after {
  opacity: 0.1;
}

.key {
  color: var(--color-text);
  display: inline-block;
  text-align: center;
  width: 3ch;
}

.name {
  color: var(--color-text-subtle);
  transition: color var(--transition-speed);
}

.command:where(:focus, :hover) .name {
  color: var(--color-text);
}

.settings-button {
  position: fixed;
  bottom: var(--space);
  right: var(--space);
  background-color: var(--hover-color);
  color: var(--color-text-subtle);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 16px;
}

.settings-button:hover {
  background-color: var(--hover-color);
  color: var(--color-text);
}

.dynamic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: none;
  background-color: #040404;
  color: var(--color-text-subtle);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1px;
}

.dynamic-button:hover {
  background-color: var(--hover-color);
  color: var(--color-text);
}

/* Search Component */
input,
button {
  background: transparent;
  border: 0;
  display: block;
  outline: 0;
}

.dialog {
  align-items: center;
  background: var(--color-background);
  border: none;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

.dialog[open] {
  display: flex;
}

.form {
  width: 100%;
}

.input {
  color: var(--color-text);
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  padding: 0;
  text-align: center;
  width: 100%;
}

.suggestions {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: var(--space) 0 0;
  overflow: hidden;
  padding: 0;
}

.suggestion {
  color: var(--color-text);
  cursor: pointer;
  font-size: 1rem;
  padding: var(--space);
  position: relative;
  transition: color var(--transition-speed);
  white-space: nowrap;
  z-index: 1;
}

.suggestion:where(:focus, :hover) {
  color: var(--color-background);
}

.suggestion::before {
  background-color: var(--color-text);
  border-radius: calc(var(--border-radius) / 5);
  content: " ";
  inset: calc(var(--space) / 1.5) calc(var(--space) / 3);
  opacity: 0;
  position: absolute;
  transform: translateY(0.5em);
  transition: all var(--transition-speed);
  z-index: -1;
}

.suggestion:where(:focus, :hover)::before {
  opacity: 1;
  transform: translateY(0);
}

.match {
  color: var(--color-text-subtle);
  transition: color var(--transition-speed);
}

.suggestion:where(:focus, :hover) .match {
  color: var(--color-background);
}

@media (min-width: 700px) {
  .suggestions {
    flex-direction: row;
  }
}

/* Footer */
.footer-container {
  position: absolute;
  bottom: var(--space);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--color-text-subtle);
  padding: 8px 16px;
  border-radius: 4px;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.footer-container:hover {
  background-color: var(--hover-color);
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Settings Button */
.settings-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-button i {
  color: var(--color-text-subtle);
  transition: color 0.3s ease;
}

.settings-button:hover {
  background-color: var(--hover-color);
}

.settings-button:hover i {
  color: var(--color-text);
}

.fa-sliders {
  font-size: 20px;
} 