/* VARIABLES */

:root {
  --border-radius: 16px;
  /* Old value #21272A */
  --color-background: #000;
  --color-text-subtle: #555;
  --color-text: #fff;
  --font-family: "Poppins", sans-serif;
  --font-size: clamp(16px, 1.6vw, 18px);
  --font-weight-bold: 700;
  --font-weight-normal: 500;
  --space: 1rem;
  --transition-speed: 200ms;
  --accent-color: #090909;
  --hover-color: #121212;
  --button-color: #DADADA;
  --input-color: #1f1f1f;
  --border-color: #55555500;
  --modal-background-color: rgba(0, 0, 0, 0.5);
}

/* Base Styles */
html {
  background-color: var(--color-background);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: 1.4;
}

body {
  margin: 0;
}

main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: calc(var(--space) * 4) var(--space);
  position: relative;
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    [data-theme="light"] {
      --color-background: #e9e9e9;
      --color-text: #000000;
      --color-text-subtle: #555;
      --accent-color: #dadada;
      --hover-color: #cfcfcf;
      --input-color: #e4e3e3;
      --modal-background-color: rgba(0, 0, 0, 0.5);
    }
    [data-theme="light"] input:focus,
    [data-theme="light"] select:focus {
      /* Creates the inner border effect */
      border: 1px solid black;
      outline: none;
      box-shadow: inset 0 0 0 2px black;
    }
  }
}
